@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
body {
    font-family: 'Edu Australia VIC WA NT Hand Arrows', sans-serif;
    font-family: "Edu AU VIC WA NT Arrows";
    background-color: #eeacd8; 
}
h1{color:#be5586}

p{color:#000000}
li{color:#000000}
span{color:#6438cc}

img {
    max-width: 100%;
    height: auto;
}

.hhh {color:#000000}
#hhh {color: aqua;}
[attr="hhh"] {color: rgb(236, 79, 39);}

.one + .two {color:rgb(198, 252, 6)}
.three,
.four {
    color: rgb(255, 0, 13);
}
ul > li{
    text-decoration: underline;
}

.hhh .one{
    line-height: 2.5;
}

[attr="hhh"] ~ .r{
    font-size: 1.2rem;
}
.three + .four {
    font-weight: bold;
}
.as {border-radius: 30px;}
.qw {border-radius: 30px;}