@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
body {
    font-family: 'Edu Australia VIC WA NT Hand Arrows', sans-serif;
    font-family: "Edu AU VIC WA NT Arrows";
    background-color: #eeacd8; 
}
h1{color:#be5586}

p{color:#000000}
li{color:#000000}
span{color:#6438cc}

img {
    max-width: 100%;
    height: auto;
}

.hhh {color:#000000}
#hhh {color: aqua;}
[attr="hhh"] {color: rgb(236, 79, 39);}

.one + .two {color:rgb(198, 252, 6)}
.three,
.four {
    color: rgb(255, 0, 13);
}
ul > li{
    text-decoration: underline;
}

.hhh .one{
    line-height: 2.5;
}

[attr="hhh"] ~ .r{
    font-size: 1.2rem;
}
.three + .four {
    font-weight: bold;
}
.as {border-radius: 30px;}
.qw {border-radius: 30px;}
.four{box-sizing: border-box;
    width: 100%;
    border: solid #aa0c90 10px;
    padding: 5px;}
.five{height: 150px;}
#hhh{width: 150px;}
.one{max-height: 150px;}
.r{max-width: 500px;}

.wrapper {
    position: relative;
  }
  
  .dashed-box {
    position: relative;
    z-index: 1;
    border: 4mm ridge rgba(45, 111, 235, 0.6);;
    background: rgb(149, 227, 233);
    height: 5em;
    margin-bottom: 1em;
    margin-top: 2em;
    width: 800px;
  }
  .gold-box {
    position: absolute;
    z-index: 3; 
    border: thick double #e6f700;
    background: rgb(102, 238, 174);
    width: 30%;
    left: 60px;
    top: 3em;
  }
  .green-box {
    position: absolute;
    z-index: 2; 
    border: dashed #f15829;
    background: rgb(206, 96, 221);
    width: 40%;
    left: 10%;
    top: -25px;
    height: 7em;
    opacity: 0.9;
  }
span{
    position: fixed;
}