body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #f190d9;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(151, 5, 119);
    text-decoration: none;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

input[required]:invalid {
    border-color: #dc3545;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(199, 91, 226, 0.5);
}

button {
    background-color: #28a745;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

label {
    display: block; 
    margin: 5px 0; 
}

footer {
    background: #eb79b7;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0; 
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: rgb(204, 16, 179);
    text-decoration: none;
}

/* Стили для четных и нечетных элементов списка */
ul li:nth-child(even) {
    background-color: #f87676;/*Красноватый фон для четных элементов */
}

ul li:nth-child(odd) {
    background-color: #fff;/* Белый фон для нечетных элементов */
}
